<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="TEST" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="TEST"/>
    </root>

    <logger name="org.goafabric" level="DEBUG"/>
    <logger name="org.flywaydb" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
</configuration>
